* {
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.99rem;
    font-weight: 500;

    box-sizing: border-box;
}

.container { 
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form { 
    width: 28rem;
    height: 24rem;

    background-color: #222;
    color: #cacaca;
    box-shadow: 0px 0px 4px 0px #333;

    border-radius: .2rem;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .6rem;
}

.form .header { 
    width: 100%;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form .header input { 
    width: 100%;
    height: 2rem;

    border: none;
    border-radius: .2rem;

    padding: .4rem;

    font-size: .88rem;
}
.form .header input:focus{ outline: none;}
.form .header button {
    width: 8rem;
    height: 2rem;
    white-space: nowrap;

    font-size: .77rem;
    margin: .5rem;

    background-color: #444;
    color: #bebebe;
    box-shadow: 0px 0px 4px 0px #222;

    border: none;
    border-radius: .2rem;
}
.form .header button:hover { 
    background-color: #555;
    cursor: pointer;
}

.form .result { 
    width: 100%;
    height: 100%;

    background-color: #333;

    border-radius: .2rem;

    padding: .4rem;

    font-size: .88rem;
    word-wrap: break-word;

    overflow: hidden;
    overflow-y: auto;
}